body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  padding-left: 16px;
  display: flex;
  align-items: center;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  /* padding: 16px; */
  margin: 0;
  display: flex;
  flex-shrink: 0;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 300px;
  height: 200px;
  padding: 16px;
  margin: 32px;
}

.content {
  height: 100%;
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
}

ul {
  list-style: none;
  margin: 0;
  padding: 16px;
}

a {
  text-decoration: none;
  font-size: 24px;
  color: white;
}

.cards {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}